# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Bundler
.bundle/
vendor/

# Ruby
*.gem
.ruby-version
.ruby-gemset

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
